---
const TESTIMONIAL = [
	{
		avatar: "./Eli-villiams.jpg",
		name: "Viliams Villanera",
		title: "CEO Founder",
		rating: "★★★★★",
		message:
			"Trabajar con Kaisher ha sido una experiencia increíble. Su enfoque innovador y atención al detalle han llevado nuestra marca a un nuevo nivel. No podríamos estar más satisfechos con los resultados.",
		company: "Villa Control Peru s.a.c.",
		website:"https://villacontrolperu.com"
	},
	{
		avatar: "./Eli-moya.jpg",
		name: "Elí Moya",
		title: "Gerente General",
		rating: "★★★★★",
		message:
			"La profesionalidad y creatividad de KaisherDev superaron nuestras expectativas. Desde la conceptualización hasta la ejecución, demostró un compromiso inquebrantable con nuestra visión y objetivos.",
		company: "F&V Peru s.a.c.",
		website:"https://fvperu.com.pe"
	},
	{
		avatar: "./William-hurtado.png",
		name: "William Hurtado",
		title: "Gerente General",
		rating: "★★★★★",
		message:
			"Gracias a KaisherDev, nuestro proyecto fue un éxito rotundo. Su capacidad para entender nuestras necesidades y traducirlas en soluciones visuales impactantes es realmente admirable.",
		company: "Saneamientos Amb. c&w s.a.c.",
		website:"https://cywsac.com"
	},
];
---

<section id="testimonials" class="lg:max-w-5xl lg:mx-auto pb-16">
	<div class="max-w-md lg:mx-auto text-center pb-8">
		<h3 class="pb-4 pt-8 text-slate-400 uppercase">Testimonios</h3>
		<h2 class="font-bold text-2xl pb-4 pt-4">
			Comentarios <span class="text-blue-400">de los clientes</span>
		</h2>
		<p>
			La confianza y satisfacción de mis clientes son el mejor testimonio de la
			calidad de mi trabajo. He aquí algunos comentarios de mis clientes que
			destacan mi dedicación y mis habilidades en la ejecución de proyectos de
			éxito:
		</p>
	</div>
	<div id="carousel" class="grid lg:grid-cols-3 gap-4 flex-wrap">
		{
			TESTIMONIAL.map(({ name, title, website, message, company, avatar }) => (
				<article class="card lg:min-h-44 bg-gray-800 text-blue-400 p-4 rounded-lg hover:ring-1 hover:ring-white">
					<div class="flex gap-4 pb-4 items-center">
						<img
					src={avatar}
					alt={name}
					class="w-10 h-10 rounded-full border-2 border-blue-400"
					/>
						<div>
							<h2 class="font-bold">{name}</h2>
							<h4 class="font-bold text-slate-300 text-xs">{title}</h4>
							<a href={website} target="_blank" rel="noopener" class="text-base">{company}</a>
						</div>
					</div>
					<p class="text-slate-200">
						"{message}"
					</p>
				</article>
			))
		}
	</div>
</section>
